<section class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6 right-border">
               <div class="footer-about">
                   <h4>The Lion You Don't See</h4>
                   <p>The Lion You Don’t See is more than a book; it's an invitation to explore the strength within you. Through stories of courage and resilience, discover the lion waiting to be unleashed in your life.</p>
               </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-6">
                <div class="footer-widget pl-lg-5">
                    <div class="contact-item">
                        <h5 class="mb-2">Have a Question?</h5>
                        <p><a style="color: aliceblue;" href="mailto:hello@iriseupfoundation.org">hello@iriseupfoundation.org</a></p>
                    </div>
                    <ul class="list-inline footer-socials mb-0">
                        <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-widget">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#about">About the Book</a></li>
                        <li><a href="#author">About the Author</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-btm">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <p class="footer-copy text-white-50 mb-0">
                    &copy; <span class="current-year">{{ current_year }}</span> iRiseUp Foundation. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
